/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500&display=swap');

/*style*/
body {
  padding: 20px;
  color: black;
  background-color: #dddd;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 10px gray;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.container {
  width: 700px;
  height: 150px;
  background-color: white;
  margin: auto;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  border: 2px solid black;
  border-radius: 15px;
}


.foto li {
  width: 107px;
  height: 107px;
  /* overflow: hidden; */
  border: 3px solid black;
  float: left;
  margin-right: 10px;
  position: relative;
  left: 50px;
  top: 14px;
}

.foto li,
.foto li .thumbs,
.foto li span {
  border-radius: 50%;
}

.foto li span {
  display: block;
  width: 107px;
  font-weight: bold;
  height: 107px;
  background-color: rgba(200,200,200,.5);
  color: rgba(66, 66, 66, 0.867);
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 107px;
  opacity: 0;
  transition: .3s;
}

.foto li a:hover span {
  opacity: 1;
}

/* Overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
  z-index: 999;
  transition: .4s;
  text-align: center;
  align-content: center;
  padding: 240px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.7);
}

.overlay img {
  max-height: 100%;
  border: 3px solid black;
  box-shadow: 0 0 7px rgba(255, 255, 255, 1);
}

.overlay .close {
  position: absolute;
  top: 220px;
  right: 560px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  animation: zoomandfade .4s;
}

.overlay:target img {
  animation: zoomandfade .4s;
}

/* Animasi */
@keyframes zoomandfade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*Clear*/
.clear {
  clear: both;
}
